<div class="app-container">
  <md-toolbar>
    <span>Teams</span>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.md="60" fxFlex.lg="50" fxFlex.xl="40">
      <md-card>
        <md-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
            <md-input-container fxFlex>
              <input type="text" mdInput placeholder="Search">
            </md-input-container>
            <button md-icon-button>
              <md-icon class="material-icon">search</md-icon>
            </button>
          </div>
          <button md-raised-button color="accent">New Team</button>
        </md-card-subtitle>
        <md-card-content>    
          <md-list>
            <md-list-item class="item-clickable" *ngFor="let team of teams">
              {{team.name}}
            </md-list-item>
          </md-list>

        </md-card-content>
        <md-card-actions fxLayout="row">
          <md-paginator [length]="100" [pageSize]="10"></md-paginator>
        </md-card-actions>
      </md-card>
    </div>
  </div>

  <button md-fab class="md-fab-bottom-right">
    <md-icon class="material-icon">add</md-icon>
  </button>
</div>



