<md-toolbar>
  <span>Agents</span>
</md-toolbar> 

<div fxLayout="row" fxLayoutAlign="center center" class="content">
  <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.md="70" fxFlex.lg="60" fxFlex.xl="50">
    <md-card>
      <md-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        <md-input-container fxFlex.xs="100" fxFlex.sm="100" fxFlex="50">
          <input type="text" mdInput placeholder="Search">
        </md-input-container>
      </md-card-subtitle>
      <md-card-content>    
        <md-list>
          <md-list-item *ngFor="let agent of agents">
            <h4 md-line>{{agent.employee_number}}</h4>
            <p md-line>{{agent.name}}</p>
          </md-list-item>
        </md-list>

      </md-card-content>
      <md-card-actions fxLayout="row">
        <md-paginator [length]="100" [pageSize]="10"></md-paginator>
      </md-card-actions>
    </md-card>
  </div>
</div>

<button md-fab class="md-fab-bottom-right">
  <md-icon class="material-icon">add</md-icon>
</button>



