<div class="app-container">
  <md-toolbar class="mat-elevation-z4">
    <span>Dashboard</span>
    <md-toolbar-row>
      <button md-icon-button mdTooltip="Download">
        <md-icon class="material-icon grey-color">file_download</md-icon>
      </button>
      <button md-icon-button mdTooltip="Filter">
        <md-icon class="material-icon grey-color">filter_list</md-icon>
      </button>
    </md-toolbar-row>
  </md-toolbar> 

  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <div fxLayout="column" fxFlex.gt.xs="100" fxFlex.lg="80" fxFlex.xl="70" fxLayoutGap="20px">
        <md-card>
          <md-card-content>
            <table class="table">
              <tr>
                <th>August</th>
                <th>Week 1</th>
                <th>Week 2</th>
                <th>Week 3</th>
                <th>Week 4</th>
                <th>Week 5</th>
                <th>Average</th>
              </tr>
              <tr>
                <td>Voice Quality Average</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
              </tr>
              <tr>
                <td>Chat Quality Average</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
              </tr>
              <tr>
                <th>Overall Quality Score</th>
                <th>90%</th>
                <th>90%</th>
                <th>90%</th>
                <th>90%</th>
                <th>90%</th>
                <th>90%</th>
              </tr>
            </table>
          </md-card-content>
        </md-card>
        
        <div fxLayout="row" fxLayoutGap="20px">
          <md-card fxFlex>
            <md-card-subtitle>Chat Quality</md-card-subtitle>
            <md-card-content>
              <table class="table">
                <tr>
                  <th>Team Leader A</th>
                  <th>Call 1</th>
                  <th>Call 2</th>
                  <th>Call 3</th>
                  <th>Call 4</th>
                  <th>Call 5</th>
                  <th>Average</th>
                </tr>
                <tr>
                  <td>Consultant 1</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                </tr>
                <tr>
                  <th>Overall Quality Score</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                </tr>
              </table>
            </md-card-content>
          </md-card>
          <md-card fxFlex>
            <md-card-subtitle>Voice Quality</md-card-subtitle>
            <md-card-content>
              <table class="table">
                <tr>
                  <th>Team Leader A</th>
                  <th>Call 1</th>
                  <th>Call 2</th>
                  <th>Call 3</th>
                  <th>Call 4</th>
                  <th>Call 5</th>
                  <th>Average</th>
                </tr>
                <tr>
                  <td>Consultant 1</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                </tr>
                <tr>
                  <th>Overall Quality Score</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                </tr>
              </table>
            </md-card-content>
          </md-card>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <md-card fxFlex>
            <md-card-subtitle>Chat Quality</md-card-subtitle>
            <md-card-content>
              <table class="table">
                <tr>
                  <th>Team Leader B</th>
                  <th>Call 1</th>
                  <th>Call 2</th>
                  <th>Call 3</th>
                  <th>Call 4</th>
                  <th>Call 5</th>
                  <th>Average</th>
                </tr>
                <tr>
                  <td>Consultant 1</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                </tr>
                <tr>
                  <th>Overall Quality Score</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                </tr>
              </table>
            </md-card-content>
          </md-card>
          <md-card fxFlex>
            <md-card-subtitle>Voice Quality</md-card-subtitle>
            <md-card-content>
              <table class="table">
                <tr>
                  <th>Team Leader B</th>
                  <th>Call 1</th>
                  <th>Call 2</th>
                  <th>Call 3</th>
                  <th>Call 4</th>
                  <th>Call 5</th>
                  <th>Average</th>
                </tr>
                <tr>
                  <td>Consultant 1</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                  <td>90%</td>
                </tr>
                <tr>
                  <th>Overall Quality Score</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                  <th>90%</th>
                </tr>
              </table>
            </md-card-content>
          </md-card>
        </div>
    </div>
  </div>
</div>