<md-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
        <div>
            <!-- Todo: toggle the sidenav  -->
            <button fxHide.gt-xs md-icon-button (click)="sidenavService.toggle()">
                <md-icon class="material-icons">menu</md-icon>
            </button>
            <button md-button routerLink="/">
                <img src="/assets/img/2Color-Logo_247px-1024x195_white.png" alt="Personiv" id="logo">
            </button>
        </div>
        <div>
            <button md-button [mdMenuTriggerFor]="menu">
                <md-icon class="material-icons">account_circle</md-icon>
                <!-- Todo: attach the authenticated user's name  -->
                User Account
            </button>
            <md-menu #menu="mdMenu" >
                <!-- Todo: add change password function -->
                <button md-menu-item>Change Password</button>
                <!-- Todo: add change sign out function -->
                <button md-menu-item>Sign out</button>
            </md-menu>
        </div>
    </div>
</md-toolbar>