/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
   overflow: hidden; 
   height: 100vh;
   max-height: 100vh;
   background: #eceff1;
   margin:0px;
}

a {
    text-decoration: none;
}

label {
    font-weight: normal;
}

.grey-color {
    color:#6b6b6b;
}

.primary-color{
    color: #3f51b5;
}

app-page-not-found {
    height: 100%;
}

.content { 
    padding:20px;
}

.md-fab-bottom-right {
    position: fixed !important;
    bottom: 9vh !important;
    right: 3vh !important;
}

.item-clickable {
    cursor: pointer;
}

.app-container {
    max-height: 100%;
    overflow: auto;
    /* padding-bottom: 50px; */
}

th, td {
    text-align: center;
}